.player-img {
  transform: scale(0.9);
}

.other-players-section .slick-slide.slick-current.slick-active .player-box {
  box-shadow: -50px 0 80px #141616;
}

.other-players-section .slick-prev,
.other-players-section .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  width: 50px;
  height: 50px;
}

.other-players-section .slick-prev {
  left: 0;
}
.other-players-section .slick-next {
  right: 0;
}

.other-players-section .slick-prev:before,
.other-players-section .slick-next:before {
  color: #f40;
  font-size: 30px;
}
