@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* ------------------------------------
   THEME (Tailwind v4 – replaces config.js)
------------------------------------- */
@theme {
  /* Colors */
  --color-primary-500: oklch(0.72 0.19 48.62);

}
@font-face {
    font-family: Love-Nature;
    src: url(../src/fonts/Love-Nature.otf)
}

@font-face {
    font-family: Exo-Light;
    src: url(../src/fonts/Exo/Exo-Light.ttf)
}

@font-face {
    font-family: Exo-Regular;
    src: url(../src/fonts/Exo/Exo-Regular.ttf)
}

@font-face {
    font-family: Exo-Bold;
    src: url(../src/fonts/Exo/Exo-Bold.ttf)
}

@font-face {
    font-family: Exo-SemiBold;
    src: url(../src/fonts/Exo/Exo-SemiBold.ttf)
}

@font-face {
    font-family: Exo-Medium;
    src: url(../src/fonts/Exo/Exo-Medium.ttf)
}

@font-face {
    font-family: Lato-Black;
    src: url(../src/fonts/Lato-Black.ttf)
}
body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 1;
    height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    background: #000
}

::-webkit-scrollbar-track {
    border-radius: 50px
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary-500);
    border-radius: 50px
}

::-webkit-scrollbar-thumb:hover {
    background: #e66900
}




